<a href="https://colab.research.google.com/github/TomaNovickaya/-/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

| Задание 44 |
| --- |
| В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

In [93]:
import pandas as pd
import random
import numpy as np
from sklearn.preprocessing import OneHotEncoder

lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  robot
1  human
2  robot
3  robot
4  robot

In [94]:
#Вариант 1
data['tmp'] = 1
data.set_index([data.index, 'whoAmI'], inplace=True) # в качестве индекса используем столбец whoAmI
data = data.unstack(level=-1, fill_value = 0).astype(int) # поворот столбца, котрый является индексом
data.columns = data.columns.droplevel() # возвращаем столбцы с требуемым индексом
data.columns.name = None
data.head()

#Вариант 2
# data['whoAmI'] = data['whoAmI'].astype('category')
# data['whoAmI_new'] = data['whoAmI'].cat.codes
# enc = OneHotEncoder()
# enc_data = pd.DataFrame(enc.fit_transform(
#     data[['whoAmI_new']]).toarray())
# New_df = data.join(enc_data)
# New_df.head()

   human  robot
0      0      1
1      1      0
2      0      1
3      0      1
4      0      1

In [78]:
data['whoAmI'].unique()
data['whoAmI'].value_counts()

human    10
robot    10
Name: whoAmI, dtype: int64

In [8]:
pd.get_dummies(data = data)

    whoAmI_human  whoAmI_robot
0              0             1
1              0             1
2              1             0
3              0             1
4              1             0
5              1             0
6              1             0
7              0             1
8              0             1
9              0             1
10             1             0
11             1             0
12             1             0
13             1             0
14             1             0
15             0             1
16             1             0
17             0             1
18             0             1
19             0             1

In [54]:
len(data)

20

In [55]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   whoAmI  20 non-null     object
dtypes: object(1)
memory usage: 288.0+ bytes

In [56]:
data.describe()

       whoAmI
count      20
unique      2
top     robot
freq       10

In [63]:
data.whoAmI.value_counts()

human    10
robot    10
Name: whoAmI, dtype: int64

In [64]:
data['whoAmI'].tolist()
data['whoAmI']

0     human
1     robot
2     robot
3     human
4     robot
5     robot
6     human
7     robot
8     human
9     robot
10    robot
11    robot
12    human
13    human
14    human
15    human
16    robot
17    human
18    human
19    robot
Name: whoAmI, dtype: object

In [65]:
data.columns.tolist()

['whoAmI']